@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0%;
    padding: 0%;
    }



header{
    width: 100%;
    background: #1abc9c;
    height: 70px;
}
.ancho{
    width: 90%;
    height:  70px;
   /* background: red;*/
    margin: auto;

}

.logo{
    width: 30%;
    height: 70px;
    /*background: blue;*/
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
}
.logo p a{
 color: floralwhite;
 font-size: 20px;
 text-decoration: none;
 font-weight: bold;
 font-family:'Indie Flower', cursive;



}
nav{
    width: 70%;
    height: 70px;
   /* background: olive;*/
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;

}
nav ul li{
    display: inline;
}
nav ul li a{
    color:floralwhite;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15pxs;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Indie Flower', cursive;;
}
nav ul li a:hover {
    color: #444;
    
}
body{
    background: whitesmoke;
}
main{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
 }

 section{ 
    border: 1px solid gray;/*Borde*/
    background-color: whitesmoke;
    color: black;/*color de letra*/
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    width: 300px;
    height: 300px;/*altura*/
    text-align: center;/*centrar*/
    margin: 50px;
    font-size: 10px;
    
}

.div1,h1{
    display: flex;
    width: 100;
    height: 200;
    margin: auto;
}
.imagenes{
    border-radius: 50%;
}

.vermascursos{
    border: 1px solid gray;/*Borde*/
    background-color: whitesmoke;
    color: black;/*color de letra*/
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    width: 1000px;
    height: 100px;/*altura*/
    text-align: center;/*centrar*/
    margin: 10px;
    font-size: 30px;
    
}
.h1{
    font-family:'Indie Flower', cursive ;
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 10;
    font-weight: bold;
}
.novedades{
    font-family:'Indie Flower', cursive ;
    color: black;
    font-size: 10px;
    text-align: center;
    margin: 10;
    font-weight: bold;
}
.footer{
    border: 1px solid gray;/*Borde*/
    background-color: whitesmoke;
    color: black;/*color de letra*/
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    width: 2000px;
    height: 100px;/*altura*/
    text-align: center;/*centrar*/
    margin: 10px;
    font-size: 30px;
}
.piedepagina{
    width: 100%;
    background-color: #1abc9c;
    
}

.piedepagina .grupo-1{
 width: 100%;
 max-width: 1200px;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(4,3fr);
 grid-gap: 50px;
 padding: 45px 0px;

}
.piedepagina .grupo-1 .box h2{
color: floralwhite;
margin-bottom: 25px;
 font-size: 20px;
 font-family:'Indie Flower', cursive;

}
.piedepagina .grupo-1 .box p{
    color: floralwhite;
    margin-bottom: 10px;
     font-size: 20px;
     font-family:'Indie Flower', cursive;
    }

.piedepagina .grupo-1 .RedSocial a{
       display: inline-block;
       text-decoration: none;
       width: 45px;
       height: 45px;
       line-height: 45px;
       color: rgb(52, 17, 149);
       margin-right: 10px;
       background-color:floralwhite;
       text-align: center;
       transition:all 300ms ease;
           }

.piedepagina .grupo-1 .RedSocial a:hover{
    color: aqua;
}
.piedepagina .grupo2{
    background-color:#1abc9c;
    text-align: center;
    color: floralwhite;
}
.piedepagina .grupo2 small{
    font-size: 15px ;
}

